.svn/
/.vs
/Tzen.Framework/obj
/Tzen.Framework/bin
/Tzen.Framework/Tzen.Framework.csproj.user
/Tzen.Framework/packages.config
/Tzen.Framework.SQL/packages.config
/Tzen.Framework.SQL/Tzen.Framework.SQL.csproj.user
/Tzen.Framework.SQL/bin
/Tzen.Framework.SQL/obj
/Tzen.Framework/app.config
/packages
