.svn/
/.vs
/packages
/NTF.Test
/NTF/obj
/NTF/NTF.csproj.user
/NTF/bin
/NTF.Provider/obj
/NTF.Provider/NTF.Provider.csproj.user
/NTF.Provider/bin
/NTF.SQL/obj
/NTF.SQL/bin
*.user
/NTF.Provider.MySqlClient/obj
/NTF.Provider.MySqlClient/bin
/NTF.Provider.SqlServerClient/bin
/NTF.Provider.SqlServerClient/obj
/NTF.Provider/*.user
